@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(tag){
  @include reset-component();
  @include tag();
  @include tag-link();

  @include e(close){
    transform: scale(0.83); // under chrome, font size less 12px won't work; this equals to 10px
    cursor: pointer;
    margin-left: 3px;
    transition: all .3s;
    color: $--text-color-secondary;
    font-weight: bold;

    &:hover {
      color: $--heading-color;
    }
  }

  @include m(click-animating){
    &:after{
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      border-radius: inherit;
      border: 0 solid $--primary-color;
      opacity: 0.4;
      animation: antTagEffect .4s cubic-bezier(.25, .8, .25, 1);
      display: block;
    }
  }

  @include m(color){
    @include e(close){
      color: inherit;
      &:hover{
        color: inherit;
        filter: brightness(90%);
      }
    }
  }

  @include make-preset-color();

  @include m(checkable){
    @include m-checkable();
  }
}


@keyframes antTagEffect {
  to {
    opacity: 0;
    top: -$--btn-animation-width;
    left: -$--btn-animation-width;
    bottom: -$--btn-animation-width;
    right: -$--btn-animation-width;
    border-width: $--btn-animation-width;
  }
}
