@import "../../../styles/themes/default";
@import "../../../styles/mixins/bem";
@import "../../../styles/core/color";
@import "../../../styles/mixins/colorPalette";
@import "../../../styles/mixins/size";
@import "../../../styles/mixins/compatibility";


@mixin tag ($height: 22px) {
  display: inline-block;
  position: relative;
  line-height: $height - 2px;
  height: $height;
  padding: 0 7px;
  border-radius: $--border-radius-base;
  border: $--border-width-base $--border-color-base $--border-style-base;
  background: $--tag-default-bg;
  font-size: $--tag-font-size;
  transition: all .3s $--ease-out;
  opacity: 1;
  margin-right: 8px;
  cursor: pointer;
  white-space: nowrap;

  &:hover{
    opacity: .85;
  }
}

@mixin tag-link () {
  a, a:hover{
    color: $--tag-default-color;
  }
}

@mixin make-preset-color() {
  @each $name in $--colors{
    @include m(color-#{$name}){
      $color: extractColor($name);
      $bgColor: colorPalette($color, 1);
      $borderColor: colorPalette($color, 3);
      color: $color;
      background-color: $bgColor;
      border-color: $borderColor;
    }
  }
}

@mixin m-checkable() {
  &:not(.checked){
    background-color: transparent !important;
    border-color: transparent !important;
    color: $--tag-default-color !important;
    &:hover{
      color: $--primary-5;
    }
  }
  &.checked{
    background-color: $--primary-color;
    color: #fff;
    border-color: $--primary-color;
  }
  transition: all .3s $--ease-in-out;
}



