@import "../mixins/colorPalette";

$--blue-1: colorPalette(#1890ff, 1);
$--blue-2: colorPalette(#1890ff, 2);
$--blue-3: colorPalette(#1890ff, 3);
$--blue-4: colorPalette(#1890ff, 4);
$--blue-5: colorPalette(#1890ff, 5);
$--blue-6: #1890ff;
$--blue-7: colorPalette(#1890ff, 7);
$--blue-8: colorPalette(#1890ff, 8);
$--blue-9: colorPalette(#1890ff, 9);
$--blue-10: colorPalette(#1890ff, 10);

$--purple-1: colorPalette(#722ed1, 1);
$--purple-2: colorPalette(#722ed1, 2);
$--purple-3: colorPalette(#722ed1, 3);
$--purple-4: colorPalette(#722ed1, 4);
$--purple-5: colorPalette(#722ed1, 5);
$--purple-6: #722ed1;
$--purple-7: colorPalette(#722ed1, 7);
$--purple-8: colorPalette(#722ed1, 8);
$--purple-9: colorPalette(#722ed1, 9);
$--purple-10: colorPalette(#722ed1, 10);

$--cyan-1: colorPalette(#13c2c2, 1);
$--cyan-2: colorPalette(#13c2c2, 2);
$--cyan-3: colorPalette(#13c2c2, 3);
$--cyan-4: colorPalette(#13c2c2, 4);
$--cyan-5: colorPalette(#13c2c2, 5);
$--cyan-6: #13c2c2;
$--cyan-7: colorPalette(#13c2c2, 7);
$--cyan-8: colorPalette(#13c2c2, 8);
$--cyan-9: colorPalette(#13c2c2, 9);
$--cyan-10: colorPalette(#13c2c2, 10);

$--green-1: colorPalette(#52c41a, 1);
$--green-2: colorPalette(#52c41a, 2);
$--green-3: colorPalette(#52c41a, 3);
$--green-4: colorPalette(#52c41a, 4);
$--green-5: colorPalette(#52c41a, 5);
$--green-6: #52c41a;
$--green-7: colorPalette(#52c41a, 7);
$--green-8: colorPalette(#52c41a, 8);
$--green-9: colorPalette(#52c41a, 9);
$--green-10: colorPalette(#52c41a, 10);

$--magenta-1: colorPalette(#eb2f96, 1);
$--magenta-2: colorPalette(#eb2f96, 2);
$--magenta-3: colorPalette(#eb2f96, 3);
$--magenta-4: colorPalette(#eb2f96, 4);
$--magenta-5: colorPalette(#eb2f96, 5);
$--magenta-6: #eb2f96;
$--magenta-7: colorPalette(#eb2f96, 7);
$--magenta-8: colorPalette(#eb2f96, 8);
$--magenta-9: colorPalette(#eb2f96, 9);
$--magenta-10: colorPalette(#eb2f96, 10);

$--pink-1: $--magenta-1;
$--pink-2: $--magenta-2;
$--pink-3: $--magenta-3;
$--pink-4: $--magenta-4;
$--pink-5: $--magenta-5;
$--pink-6: $--magenta-6;
$--pink-7: $--magenta-7;
$--pink-8: $--magenta-8;
$--pink-9: $--magenta-9;
$--pink-10: $--magenta-10;

$--red-1: colorPalette(#f5222d, 1);
$--red-2: colorPalette(#f5222d, 2);
$--red-3: colorPalette(#f5222d, 3);
$--red-4: colorPalette(#f5222d, 4);
$--red-5: colorPalette(#f5222d, 5);
$--red-6: #f5222d;
$--red-7: colorPalette(#f5222d, 7);
$--red-8: colorPalette(#f5222d, 8);
$--red-9: colorPalette(#f5222d, 9);
$--red-10: colorPalette(#f5222d, 10);

$--orange-1: colorPalette(#fa8c16, 1);
$--orange-2: colorPalette(#fa8c16, 2);
$--orange-3: colorPalette(#fa8c16, 3);
$--orange-4: colorPalette(#fa8c16, 4);
$--orange-5: colorPalette(#fa8c16, 5);
$--orange-6: #fa8c16;
$--orange-7: colorPalette(#fa8c16, 7);
$--orange-8: colorPalette(#fa8c16, 8);
$--orange-9: colorPalette(#fa8c16, 9);
$--orange-10: colorPalette(#fa8c16, 10);

$--yellow-1: colorPalette(#fadb14, 1);
$--yellow-2: colorPalette(#fadb14, 2);
$--yellow-3: colorPalette(#fadb14, 3);
$--yellow-4: colorPalette(#fadb14, 4);
$--yellow-5: colorPalette(#fadb14, 5);
$--yellow-6: #fadb14;
$--yellow-7: colorPalette(#fadb14, 7);
$--yellow-8: colorPalette(#fadb14, 8);
$--yellow-9: colorPalette(#fadb14, 9);
$--yellow-10: colorPalette(#fadb14, 10);

$--volcano-1: colorPalette(#fa541c, 1);
$--volcano-2: colorPalette(#fa541c, 2);
$--volcano-3: colorPalette(#fa541c, 3);
$--volcano-4: colorPalette(#fa541c, 4);
$--volcano-5: colorPalette(#fa541c, 5);
$--volcano-6: #fa541c;
$--volcano-7: colorPalette(#fa541c, 7);
$--volcano-8: colorPalette(#fa541c, 8);
$--volcano-9: colorPalette(#fa541c, 9);
$--volcano-10: colorPalette(#fa541c, 10);

$--geekblue-1: colorPalette(#2f54eb, 1);
$--geekblue-2: colorPalette(#2f54eb, 2);
$--geekblue-3: colorPalette(#2f54eb, 3);
$--geekblue-4: colorPalette(#2f54eb, 4);
$--geekblue-5: colorPalette(#2f54eb, 5);
$--geekblue-6: #2f54eb;
$--geekblue-7: colorPalette(#2f54eb, 7);
$--geekblue-8: colorPalette(#2f54eb, 8);
$--geekblue-9: colorPalette(#2f54eb, 9);
$--geekblue-10: colorPalette(#2f54eb, 10);

$--lime-1: colorPalette(#a0d911, 1);
$--lime-2: colorPalette(#a0d911, 2);
$--lime-3: colorPalette(#a0d911, 3);
$--lime-4: colorPalette(#a0d911, 4);
$--lime-5: colorPalette(#a0d911, 5);
$--lime-6: #a0d911;
$--lime-7: colorPalette(#a0d911, 7);
$--lime-8: colorPalette(#a0d911, 8);
$--lime-9: colorPalette(#a0d911, 9);
$--lime-10: colorPalette(#a0d911, 10);

$--gold-1: colorPalette(#faad14, 1);
$--gold-2: colorPalette(#faad14, 2);
$--gold-3: colorPalette(#faad14, 3);
$--gold-4: colorPalette(#faad14, 4);
$--gold-5: colorPalette(#faad14, 5);
$--gold-6: #faad14;
$--gold-7: colorPalette(#faad14, 7);
$--gold-8: colorPalette(#faad14, 8);
$--gold-9: colorPalette(#faad14, 9);
$--gold-10: colorPalette(#faad14, 10);