@import "../../../styles/mixins/bem";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(layout){
  display: flex;
  flex-direction: column;
  flex: auto;
  background: $--layout-body-background;

  @include m(has-sider){
    flex-direction: row;
  }
}

@include b(header){
  flex: 0 0 auto;
  background: $--layout-header-background;
  padding: $--layout-header-padding;
  height: $--layout-header-height;
  line-height: $--layout-header-height;
}

@include b(footer){
  flex: 0 0 auto;
  background: $--layout-footer-background;
  padding: $--layout-footer-padding;
  color: $--text-color;
  font-size: $--font-size-base;
}

@include b(content){
  flex: auto;
}

@include b(sider){
  transition: all .2s;
  position: relative;
  background: $--layout-sider-background;

  /* fix firefox can't set width smaller than content on flex item */
  min-width: 0;
}
