@import "../../../styles/mixins/bem";
@import "../../../styles/themes/default";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/clearfix";
@import "./mixin";

@include b(menu) {
  @include reset-component();
  outline: none;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  box-shadow: $--box-shadow-base;
  color: $--menu-item-color;
  background: $--menu-bg;
  line-height: 0; // Fix display inline-block gap
  transition: background .3s, width .2s;
  @include clearfix();

  @include m(horizontal) {
    border: 0;
    border-bottom: $--border-width-base $--border-style-base $--border-color-split;
    box-shadow: none;
    line-height: 46px;

    &:after {
      content: "\20";
      display: block;
      height: 0;
      clear: both;
    }
  }
}


@include b(menu-item){
  @include menu-common-item();

  @include m(horizontal) {
    @include menu-horizontal-item();
    > a {
      display: block;
      color: $--menu-item-color;
      &:hover {
        color: $--menu-highlight-color;
      }
      &:before {
        bottom: -2px;
      }
    }
  }

  @include when(disabled){
    @include menu-item-disabled()
  }
}

@include b(sub-menu){
  @include menu-common-item();
  height: 46px;
  transition: border-color .3s $--ease-in-out, background .3s $--ease-in-out, padding .15s $--ease-in-out;


  @include m(horizontal) {
    @include menu-horizontal-item();
    & .#{nsb(menu-item)}{
      @include menu-horizontal-sub-item();
      &.active, &:hover{
        border-bottom-color: transparent;
        background-color: $--item-hover-bg;
      }
    }
    @include when(is-sub){
      padding: 0;
      width: 100%;
      line-height: $--menu-item-height;
      height: $--menu-item-height;
      border-bottom-color: transparent;
      background-color: $--item-hover-bg;
    }

    @include e(title) {
      height: $--menu-item-height;
    }

    @include e(title) {
      @include when(is-sub) {
        padding: 0 $--control-padding-horizontal + 20px;
      }
    }
  }

  @include when(disabled){
    @include menu-item-disabled()
  }
}
