@import "../../../styles/mixins/bem";
@import "../../../styles/themes/default";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/clearfix";
@import "./mixin";

@include b(menu) {
  @include reset-component();
  outline: none;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  box-shadow: $--box-shadow-base;
  color: $--menu-item-color;
  background: $--menu-bg;
  line-height: 0; // Fix display inline-block gap
  transition: background .3s, width .2s;
  @include clearfix();

  @include m(horizontal) {
    border: 0;
    border-bottom: $--border-width-base $--border-style-base $--border-color-split;
    box-shadow: none;
    line-height: 46px;

    &:after {
      content: "\20";
      display: block;
      height: 0;
      clear: both;
    }
  }

  @include m(vertical inline) {
    border-right: $--border-width-base $--border-style-base $--border-color-split;
  }
}


@include b(menu-item){
  @include menu-common-item();

  &.selected {
    color: $--menu-highlight-color;
    > a,
    > a:hover {
      color: $--menu-highlight-color;
    }
  }

  &:active{
    background: $--menu-item-active-bg;
  }

  @include m(horizontal) {
    @include menu-horizontal-item();
    > a {
      display: block;
      color: $--menu-item-color;
      &:hover {
        color: $--menu-highlight-color;
      }
      &:before {
        bottom: -2px;
      }
    }
  }

  @include m(vertical inline) {
    position: relative;
    padding: 0 16px;
    font-size: $--font-size-base;
    line-height: $--menu-item-height;
    height: $--menu-item-height;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    &.selected{
      background: $--menu-item-active-bg;
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: 3px solid $--menu-highlight-color;
      transform: scaleY(.0001);
      opacity: 0;
      transition: transform .15s $--ease-out, opacity .15s $--ease-out;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:not(.is-sub){
      line-height: $--menu-inline-toplevel-item-height;
      height: $--menu-inline-toplevel-item-height;
    }
  }

  @include when(disabled){
    @include menu-item-disabled()
  }
}

@include b(sub-menu){
  @include menu-common-item();
  transition: border-color .3s $--ease-in-out, background .3s $--ease-in-out, padding .15s $--ease-in-out;


  @include m(horizontal) {
    @include menu-horizontal-item();
    & .#{nsb(menu-item)}{
      @include menu-horizontal-sub-item();
      &.active, &.selected, &:hover{
        border-bottom-color: transparent;
      }
      &.active, &.selected{
        background-color: $--item-hover-bg;
      }
    }
    @include when(is-sub){
      padding: 0;
      width: 100%;
      line-height: $--menu-item-height;
      border-bottom-color: transparent;
    }

    @include e(title) {
      &:hover{
        color: $--menu-highlight-color;
      }
    }

    @include e(title) {
      @include when(is-sub) {
        padding: 0 16px;
        &.active{
          background-color: $--item-hover-bg;
        }
        &:active{
          background: $--menu-item-active-bg;
        }
      }
    }
  }

  @include m(vertical inline) {
    padding: 0;
    //&:not(.is-sub) {
    //  line-height: $--menu-inline-toplevel-item-height;
    //  height: $--menu-inline-toplevel-item-height;
    //}

    @include when(active){
      color: $--menu-highlight-color;
      > a {
        color: $--menu-highlight-color;
      }
    }

    @include e(title) {
      padding: 0 (16px + 10px) 0 16px;
      font-size: $--font-size-base;
      line-height: $--menu-item-height;
      height: $--menu-item-height;
      margin-top: 4px;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      &:not(.is-sub) {
        line-height: $--menu-inline-toplevel-item-height;
        height: $--menu-inline-toplevel-item-height;
      }
      &.active{
        background-color: $--item-hover-bg;
      }
      &:active{
        background: $--menu-item-active-bg;
      }
      &:after{
        font-family: "anticon" !important;
        position: absolute;
        right: 5px;
        font-style: normal;
        content: "\e61f";
        display: inline-block;
        font-size: $--font-size-sm - 2px;
        color: $--text-color-secondary;
      }
    }
  }

  @include m(inline){
    transition: all 3s $--ease-out, opacity 3s $--ease-out;
    @include e(inline-panel){
      transition: all 3s $--ease-out, opacity 3s $--ease-out;
      opacity: 0;
      display: none;
      @include when(open){
        display: block;
        opacity: 1;
      }
    }
  }

  @include when(disabled){
    @include menu-item-disabled()
  }
}

@include b(menu-item-group){
  @include clearfix();
  margin: 0;
  padding: 0;
  .#{nsb('menu-item')}{
    padding: 0 16px 0 28px;
  }


  > ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @include e(title){
    color: $--menu-item-group-title-color;
    font-size: $--font-size-base;
    line-height: $--line-height-base;
    padding: 8px 16px;
    transition: all .3s;
  }
}

