@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(checkbox){
  @include checkbox();

  @include e(control){
    @include e-control();
  }

  @include e(control-inner){
    @include e-control-inner();
  }

  @include e(control-input){
    @include e-control-input();
  }

  @include e(text){
    @include e-text();
  }

  // state
  @include when(checked){
    @include s-checked();
  }

  @include when(focus){
    @include s-focus();
  }

  @include when(disabled){
    @include s-disabled();
  }

  @include when(indeterminate){
    @include s-indeterminate();
  }

  // animate
  @include a(effect){
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1.6);
      opacity: 0;
    }
  }
}



/* checkbox-group */
@include b(checkbox-group){
  @include reset-component();
  display: inline-block;
}




