@import "../../../styles/themes/default";
@import "../../../styles/mixins/colorPalette";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/size";

$radio-duration: .3s;

@mixin checkbox{
  @include reset-component();
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-left: 8px;
  cursor: pointer;
  &:hover{
    @include e(control-inner) {
      border-color: $--checkbox-color;
    }
  }
}

@mixin e-control{
  @include reset-component();
  white-space: nowrap;
  outline: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: text-bottom;
  cursor: pointer;
}

@mixin e-control-input{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

@mixin e-control-inner{ // circle
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: $--checkbox-size;
  height: $--checkbox-size;
  border-radius: $--border-radius-sm;
  border: solid 1px $--border-color-base;
  background: $--checkbox-check-color;

  &:after { // dot
    $check-width: ($--checkbox-size / 14) * 5;
    $check-height: ($--checkbox-size / 14) * 8;
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: ($--checkbox-size - $check-width) / 2 - 0.5 * ($--checkbox-size / 14);
    top: ($--checkbox-size - $check-height) / 2 - 2 * ($--checkbox-size / 14);
    display: table;
    width: $check-width;
    height: $check-height;
    border: 2px solid $--checkbox-check-color;
    border-top: 0;
    border-left: 0;
    content: ' ';
    transition: all .1s $--ease-in-back;
  }
}

@mixin e-text{
  padding-left: 8px;
  padding-right: 8px;
}

@mixin s-checked(){
  @include e(control){
    &:after{ // checked animation
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $--border-radius-sm;
      border: 1px solid $--checkbox-color;
      content: '';
      animation: #{a(effect)} 0.36s ease-in-out;
      animation-fill-mode: both;
      visibility: visible;
    }
  }
  @include e(control-inner){
    border-color: $--checkbox-color;
    background-color: $--checkbox-color;
    &:after {
      transform: rotate(45deg) scale(1);
      position: absolute;
      display: table;
      border: 2px solid $--checkbox-check-color;
      border-top: 0;
      border-left: 0;
      content: ' ';
      transition: all .2s $--ease-out-back .1s;
    }
  }
}

@mixin s-focus () {
  @include e (control-inner) {
    border-color: $--checkbox-color;
  }
}

@mixin s-disabled () {
  @include e(control-inner){
    border-color: $--border-color-base !important;
    background-color: $--input-disabled-bg;
    &:after {
      border-color: $--disabled-color;
    }
  }
  @include e(control-input) {
    cursor: not-allowed;
  }
  @include e(text) {
    color: $--disabled-color;
    cursor: not-allowed;
  }
}

@mixin s-indeterminate(){
  @include when(disabled){
    @include e(control-inner){
      background-color: $--input-disabled-bg;
    }
  }
  @include e(control-inner){
    border-color: $--checkbox-color;
    background-color: $--checkbox-color;
    &:after{
      $indeterminate-width: ($--checkbox-size / 14) * 8;
      $indeterminate-height: ($--checkbox-size / 14) * 1;
      content: ' ';
      transform: scale(1);
      position: absolute;
      left: ($--checkbox-size - 2 - $indeterminate-width) / 2;
      top: ($--checkbox-size - 3 - $indeterminate-height) / 2;
      width: $indeterminate-width;
      height: $indeterminate-height;
    }
  }
}

