@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/compatibility";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(date-panel) {
  @include reset-component();
  width: 278px;
}

@include e(input){
  height: 34px;
  padding: 6px $--control-padding-horizontal - 2px;
  border-bottom: $--border-width-base $--border-style-base $--border-color-split;
}

@include e(input-control){
  border: 0;
  width: 100%;
  cursor: auto;
  outline: 0;
  height: 22px;
  color: $--input-color;
  background: $--input-bg;
  @include placeholder();
}




