@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/compatibility";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(decade-calendar) {
  @include reset-component();
  td {
    border: 0;
    padding: 0;
    position: relative;
  }
}

@include e(header){
  height: 40px;
  line-height: 40px;
  text-align: center;
  user-select: none;
  position: relative;
  border-bottom: $--border-width-base $--border-style-base $--border-color-split;
}

@include e(prev-year-btn){
  @include first-select-btn();
}

@include e(next-year-btn){
  @include first-backwards-select-btn();
}

@include e(year-select) {
  padding: 0 2px;
  font-weight: 500;
  display: inline-block;
  color: $--heading-color;
  line-height: 40px;
}

@include e(body){
  padding: 8px 12px;
}

@include e(table){
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
  table-layout: fixed;
  border: 0;
  padding: 0;
  height: 256px;
}

@include e(cell){
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;

  &:hover {
    background: $--item-hover-bg;
    cursor: pointer;
  }

  &:hover{
    background: transparent;
  }

  @include m(not-current-century) {
    @include e(cell-value) {
      color: $--disabled-color;
    }
  }

  &.selected{
    @include e(cell-value) {
      background-color: $--primary-color;
      color: #fff;
      font-weight: 500;
    }
  }
}

@include e(cell-value){
  text-align: center;
  margin: 0 auto;
  border-radius: $--border-radius-sm;
  //width: 48px;
  height: 24px;
  padding: 0;
  background: transparent;
  line-height: 24px;
  border: $--border-style-base $--border-width-base transparent;

  &:hover{
    background-color: $--primary-2;
  }
}


