@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(date-picker) {
  @include reset-component();
  display: inline-block;
}

@include e(popper) {
  padding: 0;
  margin-top: -32px - 2px !important;
  margin-left: -2px !important;
}

@import "./date-panel";
@import "./date-calendar";
@import "./month-calendar";



