@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/compatibility";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(range-picker) {
  @include reset-component();
}

@include e(popper) {
  padding: 0;
  margin-top: -32px - 2px !important;
  margin-left: -2px !important;
  width: 556px;
}

@include e(input-group){
  //width: 480px;
  //display: table;
}

@include e(input-group-control){
  border: 0;
  border-radius: $--border-radius-base;
  width: 120px;
  cursor: auto;
  outline: 0;
  line-height: $--input-height-base;
  color: $--input-color;
  background: $--input-bg;
  @include placeholder();
  display: inline-block;
}


