@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(progress){
  @include reset-component();
  display: inline-block;

  @include m(line){
    width: 100%;
    font-size: $--font-size-base;
    position: relative;

    @include e(bg){
      border-radius: 100px;
    }
  }

  @include m(circle){
    @include e(inner){
      color: $--progress-default-color;
    }
    @include e(text){
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      line-height: 1;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin: 0;
      color: $--text-color;
    }
  }

  @include combo-m(circle status-success) {
    @include e(inner){
      color: $--success-color;
    }
  }
  @include combo-m(circle status-exception) {
    @include e(inner){
      color: $--error-color;
    }
  }

  @include m(show-text){
    @include e(outer){
      padding-right: calc(2em + 8px);
      margin-right: calc(-2em - 8px);
    }
  }

  @include m(status-active){
    @include e(bg){
      &:before{
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $--component-background;
        border-radius: 10px;
        animation: v-progress-active 2.4s $--ease-out-quint infinite;
      }
    }
  }

  @include m(status-success){
    @include e(bg){
      background-color: $--success-color;
    }
    @include e(text) {
      color: $--success-color;
    }
  }

  @include m(status-exception){
    @include e(bg){
      background-color: $--error-color;
    }
    @include e(text) {
      color: $--error-color;
    }
  }
}

@include e(outer){
  display: inline-block;
  width: 100%;
}

@include e(inner){
  display: inline-block;
  width: 100%;
  background-color: $--progress-remaining-color;
  border-radius: 100px;
  vertical-align: middle;
  position: relative;
}

@include e(bg){
  background-color: $--progress-default-color;
  transition: all .4s $--ease-out-circ 0s;
  position: relative;
}


@include e(text){
  word-break: normal;
  width: 2em;
  text-align: left;
  font-size: 1em;
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  color: $--text-color-secondary;
  line-height: 1;
}


@keyframes v-progress-active {
  0% {
    opacity: 0.1;
    width: 0;
  }
  20% {
    opacity: 0.5;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}