@import "../core/color";

$--ant-prefix             : ant !default;

// -------- Colors -----------
$--primary-color          : $--blue-6 !default;
$--info-color             : $--blue-6 !default;
$--success-color          : $--green-6 !default;
$--processing-color       : $--blue-6 !default;
$--error-color            : $--red-6 !default;
$--highlight-color        : $--red-6 !default;
$--warning-color          : $--gold-6 !default;
$--normal-color           : #d9d9d9 !default;


// Base Scaffolding Variables
// ---
// Background color for `<body>`
$--body-background        : #fff !default;
// Base background color for most components
$--component-background   : #fff !default;
$--font-family  : "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$--code-family            : "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$--heading-color          : rgba(#000, .85) !default;
$--text-color             : rgba(#000, .65) !default;
$--text-color-secondary   : rgba(#000, .45) !default;
$--heading-color-dark     : rgba(#fff, 1) !default;
$--text-color-dark        : rgba(#fff, .85) !default;
$--text-color-secondary-dark: rgba(#fff, .65) !default;
$--font-size-base         : 14px !default;
$--font-size-lg           : $--font-size-base + 2px !default;
$--font-size-sm           : $--font-size-base - 2px !default;
$--line-height-base       : 1.5 !default;
$--border-radius-base     : 4px !default;
$--border-radius-sm       : 2px !default;


// ICONFONT
$--iconfont-css-prefix    : anticon !default;
$--icon-url               : "https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i" !default;


// LINK
$--link-color             : $--primary-color !default;
$--link-hover-color       : colorPalette($--link-color, 5) !default;
$--link-active-color      : colorPalette($--link-color, 7) !default;
$--link-decoration        : none;
$--link-hover-decoration  : none;

// Background
$--background-color-light : hsl(0, 0, 98%) !default;  // background of header and selected item
$--background-color-base  : hsl(0, 0, 96%) !default;  // Default grey background color

// Disabled states
$--disabled-color         : lighten(#000, 25%) !default;
$--disabled-bg            : $--background-color-base !default;
$--disabled-color-dark    : darken(#fff, 35%) !default;



// -------- Colors -----------
$--primary-color          : $--blue-6 !default;
$--info-color             : $--blue-6 !default;
$--success-color          : $--green-6 !default;
$--processing-color       : $--blue-6 !default;
$--error-color            : $--red-6 !default;
$--highlight-color        : $--red-6 !default;
$--warning-color          : $--gold-6 !default;
$--normal-color           : #d9d9d9 !default;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
$--primary-1: colorPalette($--primary-color, 1) !default;  // replace tint(@primary-color, 90%)
$--primary-2: colorPalette($--primary-color, 2) !default;  // replace tint(@primary-color, 80%)
$--primary-3: colorPalette($--primary-color, 3) !default;  // unused
$--primary-4: colorPalette($--primary-color, 4) !default;  // unused
$--primary-5: colorPalette($--primary-color, 5) !default;  // color used to control the text color in many active and hover states, replace tint(@primary-color, 20%)
$--primary-6: $--primary-color !default;                                 // color used to control the text color of active buttons, don't use, use @primary-color
$--primary-7: colorPalette($--primary-color, 7) !default;  // replace shade(@primary-color, 5%)
$--primary-8: colorPalette($--primary-color, 8) !default;  // unused
$--primary-9: colorPalette($--primary-color, 9) !default;  // unused
$--primary-10: colorPalette($--primary-color, 10) !default;  // unused

// Base Scaffolding Variables
// ---

// Background color for `<body>`
$--body-background        : #fff !default;
// Base background color for most components
$--component-background   : #fff !default;
$--font-family  : "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$--code-family            : "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$--heading-color          : rgba(#000, .85) !default;
$--text-color             : rgba(#000, .65) !default;
$--text-color-secondary   : rgba(#000, .45) !default;
$--heading-color-dark     : rgba(#fff, 1) !default;
$--text-color-dark        : rgba(#fff, .85) !default;
$--text-color-secondary-dark: rgba(#fff, .65) !default;
$--font-size-base         : 14px !default;
$--font-size-lg           : $--font-size-base + 2px !default;
$--font-size-sm           : $--font-size-base - 2px !default;
$--line-height-base       : 1.5 !default;
$--border-radius-base     : 4px !default;
$--border-radius-sm       : 2px !default;

// vertical paddings
$--padding-lg    : 24px !default; // containers
$--padding-md    : 16px !default; // small containers and buttons
$--padding-sm    : 12px !default; // Form controls and items
$--padding-xs    : 8px !default;  // small items

// vertical padding for all form controls
$--control-padding-horizontal: $--padding-sm !default;
$--control-padding-horizontal-sm: $--padding-xs !default;

// The background colors for active and hover states for things like
// list items or table cells.
$--item-active-bg         : $--primary-1 !default;
$--item-hover-bg          : $--primary-1 !default;

// ICONFONT
$--iconfont-css-prefix    : anticon !default;
$--icon-url               : "https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i" !default;

// LINK
$--link-color             : $--primary-color !default;
$--link-hover-color       : colorPalette($--link-color, 5) !default;
$--link-active-color      : colorPalette($--link-color, 7) !default;
$--link-decoration        : none !default;
$--link-hover-decoration  : none !default;

// Animation
$--ease-out            : cubic-bezier(0.215, 0.61, 0.355, 1) !default;
$--ease-in             : cubic-bezier(0.55, 0.055, 0.675, 0.19) !default;
$--ease-in-out         : cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$--ease-out-back       : cubic-bezier(0.12, 0.4, 0.29, 1.46) !default;
$--ease-in-back        : cubic-bezier(0.71, -0.46, 0.88, 0.6) !default;
$--ease-in-out-back    : cubic-bezier(0.71, -0.46, 0.29, 1.46) !default;
$--ease-out-circ       : cubic-bezier(0.08, 0.82, 0.17, 1) !default;
$--ease-in-circ        : cubic-bezier(0.6, 0.04, 0.98, 0.34) !default;
$--ease-in-out-circ    : cubic-bezier(0.78, 0.14, 0.15, 0.86) !default;
$--ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1) !default;
$--ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06) !default;
$--ease-in-out-quint   : cubic-bezier(0.86, 0, 0.07, 1) !default;

// Border color
$--border-color-base      : hsl(0, 0, 85%) !default;  // base border outline a component
$--border-color-split     : hsl(0, 0, 91%) !default;  // split border inside a component
$--border-width-base      : 1px !default;            // width of the border for a component
$--border-style-base      : solid !default;          // style of a components border
$--border-base : $--border-width-base $--border-color-base $--border-style-base !default;

// Outline
$--outline-blur-size      : 0 !default;
$--outline-width          : 2px !default;
$--outline-color          : $--primary-color !default;

$--background-color-light : hsl(0, 0, 98%) !default;  // background of header and selected item
$--background-color-base  : hsl(0, 0, 96%) !default;  // Default grey background color

// Disabled states
$--disabled-color         : rgba(#fff, 0.25) !default;
$--disabled-bg            : $--background-color-base !default;
$--disabled-color-dark    : rgba(#fff, .35) !default;

// Shadow
$--shadow-color           : rgba(0, 0, 0, .15) !default;
$--shadow-1-up            : 0 2px 8px $--shadow-color !default;
$--shadow-1-down          : 0 2px 8px $--shadow-color !default;
$--shadow-1-left          : -2px 0 8px $--shadow-color !default;
$--shadow-1-right         : 2px 0 8px $--shadow-color !default;
$--shadow-2               : 0 4px 12px $--shadow-color !default;
$--box-shadow-base        : $--shadow-1-down !default;

// Buttons
$--btn-font-weight        : 400 !default;
$--btn-border-radius-base : $--border-radius-base !default;
$--btn-border-radius-sm   : $--border-radius-base !default;

$--btn-primary-color      : #fff !default;
$--btn-primary-bg         : $--primary-color !default;

$--btn-default-color      : $--text-color !default;
$--btn-default-bg         : #fff !default;
$--btn-default-border     : $--border-color-base !default;

$--btn-danger-color       : $--error-color !default;
$--btn-danger-bg          : $--background-color-base !default;
$--btn-danger-border      : $--border-color-base !default;

$--btn-ghost-color        : #fff !default;
$--btn-ghost-bg           : transparent !default;
$--btn-ghost-border       : #fff !default;

$--btn-disable-color      : $--disabled-color !default;
$--btn-disable-bg         : $--disabled-bg !default;
$--btn-disable-border     : $--border-color-base !default;

$--btn-padding-base       : 0 $--padding-md - 1px !default;
$--btn-font-size-lg       : $--font-size-lg !default;
$--btn-font-size-sm       : $--font-size-base !default;
$--btn-padding-lg         : $--btn-padding-base !default;
$--btn-padding-sm         : 0 $--padding-xs - 1px !default;

$--btn-height-base        : 32px !default;
$--btn-height-lg          : 40px !default;
$--btn-height-sm          : 24px !default;

$--btn-circle-size        : $--btn-height-base !default;
$--btn-circle-size-lg     : $--btn-height-lg !default;
$--btn-circle-size-sm     : $--btn-height-sm !default;

$--btn-animation-width    : 6px;

$--btn-group-border       : $--primary-5 !default;