@import "./modal";
@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";

@include b(modal){
  @include reset-component();
  position: relative;
  width: auto;
  margin: 0 auto;
  padding-bottom: 24px;
}

@include e(wrapper){
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $--zindex-modal;
  background-color: (0, 0, 0, 0);

  @include m(mask) {
    background-color: $--modal-mask-bg;
  }
}

@include e(tab){
  height: 0;
  width: 0;
  overflow: hidden;
}

@include e(content){
  position: relative;
  background-color: $--component-background;
  border: 0;
  border-radius: $--border-radius-base;
  background-clip: padding-box;
  box-shadow: $--shadow-2;
}

@include e(close) {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  transition: color .3s;
  color: $--text-color-secondary;
  text-align: center;
  vertical-align: center;
  font-size: 16px;

  &:hover {
    color: #444;
  }
}

@include e(header) {
  padding: 16px 24px;
  border-radius: $--border-radius-base $--border-radius-base 0 0;
  background: $--component-background;
  color: $--text-color;
  border-bottom: $--border-width-base $--border-style-base $--border-color-split;
}

@include e(title){
  margin: 0;
  font-size: $--font-size-lg;
  line-height: 22px;
  font-weight: 500;
  color: $--heading-color;
}

@include e(body){
  padding: 24px;
  font-size: $--font-size-base;
  line-height: $--line-height-base;
  word-wrap: break-word;
}

@include e(footer){
  border-top: $--border-width-base $--border-style-base $--border-color-split;
  padding: 10px 16px;
  text-align: right;
  border-radius: 0 0 $--border-radius-base $--border-radius-base;
}
