@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/iconfont";
@import "../../../styles/themes/default";
@import "./mixin";


@include b(table) {
  @include reset-component();

  @include m(bordered) {
    @include e(body) {
      table {
        border: $--border-width-base $--border-style-base $--border-color-split;
        border-right: 0;
        border-bottom: 0;

        th,td{
          border-right: $--border-width-base $--border-style-base $--border-color-split;
        }
      }
    }
  }
}

@include e(body) {
  overflow: auto;
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: $--border-radius-base $--border-radius-base 0 0;
    table-layout: fixed;
    background-color: $--component-background;

    th {
      background: $--table-header-bg;
      transition: background .3s ease;
      text-align: left;
      color: $--heading-color;
      font-weight: 500;
      border-bottom: $--border-width-base $--border-style-base $--border-color-split;

    }

    th, td {
      padding: $--table-padding-vertical $--table-padding-horizontal;
      word-break: break-word;
      border-bottom: $--border-width-base $--border-style-base $--border-color-split;
      transition: all .3s;
    }

    &>tbody>tr{
      &:hover{
        background: $--table-row-hover-bg;
        td {
          background: $--table-row-hover-bg;
        }
      }
    }
  }
}

@include e(cell) {

  @include m(fixed-right fixed-left) {
    background-color: $--component-background;
    transition: box-shadow .3s ease;
  }

  @include m(fixed-left) {
    &.scroll{
      box-shadow: 6px 0 6px -4px $--shadow-color;
    }
  }

  @include m(fixed-right) {
    &.scroll{
      box-shadow: -6px 0 6px -4px $--shadow-color;
    }
  }
}
