@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/iconfont";
@import "../../../styles/themes/default";
@import "./mixin";


@include b(table) {
  @include reset-component();
  position: relative; // use position fix

  @include m(bordered) {
    @include e(body) {
      table {
        border: $--border-width-base $--border-style-base $--border-color-split;
        border-right: 0;
        border-bottom: 0;

        th,td{
          border-right: $--border-width-base $--border-style-base $--border-color-split;
        }

        th{
          >div{
            resize: horizontal;
            overflow: auto;
            cursor: ew-resize;
          }
        }
      }
    }
  }
}

@include e(body) {
  overflow: auto;
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: $--border-radius-base $--border-radius-base 0 0;
    table-layout: auto; // it's better, it's faster on fixed layout, better provide this option
    background-color: $--component-background;

    th {
      background: $--table-header-bg;
      text-align: left;
      color: $--heading-color;
      font-weight: 500;
      border-bottom: $--border-width-base $--border-style-base $--border-color-split;
      position: sticky;
      top: 0;

      >div{
        margin: -$--table-padding-vertical (-$--table-padding-horizontal);
        padding: $--table-padding-vertical $--table-padding-horizontal;
      }
    }

    td{
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    th, td {
      padding: $--table-padding-vertical $--table-padding-horizontal;
      word-break: break-word;
      border-bottom: $--border-width-base $--border-style-base $--border-color-split;
      //transition: all .3s;
    }

    &>tbody>tr{
      &:hover{
        background: $--table-row-hover-bg;
        >td {
          background: $--table-row-hover-bg;
        }
      }
    }
  }
}

@include e(cell) {

  @include m(fixed-right fixed-left) {
    background-color: $--component-background;
    position: sticky;
    z-index: 1;
  }

  @include m(fixed-left) {
    &{
      left: 0;
    }
    &.scroll{
      box-shadow: 6px 0 6px -4px $--shadow-color;
    }
  }

  @include m(fixed-right) {
    &{
      right: 0;
    }
    &.scroll{
      box-shadow: -6px 0 6px -4px $--shadow-color;
    }
  }
}

@include e(footer) {
  padding: $--table-padding-vertical 0;
  text-align: right;
}

@include e(check-dropdown){
  margin-left: -16px;
}

@include e(header-cell) {
  @include m(has-sorter){
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
  }
}

@include e(header-cell-append) {
  position: relative;
  display: inline-block;
  float: right;
  margin: (-$--table-padding-vertical) (-$--table-padding-horizontal);
  padding: $--table-padding-vertical $--table-padding-horizontal;
}

@include e(sorter) {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  color: $--text-color-secondary;

  > i {
    display: block;
    font-size: 12px;
    transform: scale(0.66); // 8px
    height: 8px;
    cursor: pointer;
    transition: color .3s;

    &:hover{
      color: $--primary-4;
    }

    &.down{
      margin-top: -1px;
    }
    &.up{
      margin-bottom: -1px;
    }

    &.on {
      color: $--primary-color;
    }
  }
}

@include e(filter) {
  margin: (-$--table-padding-vertical) (-$--table-padding-horizontal) (-$--table-padding-vertical) 0;
  padding: $--table-padding-vertical 8px $--table-padding-vertical;
  display: inline-block;
  vertical-align: middle;
 & #{e('reference', 'dropdown')}{
   padding: 0;
 }

 &.on{
   i{
     color: $--primary-color;
   }
 }

 &:hover {
   background: #e2e2e2;
   cursor: pointer;

   i {
     color: $--text-color;
   }
 }

 i {
   color: $--text-color-secondary;
 }
}

@include e(expanded-row) {
  &, &:hover {
    >td{
      background: $--table-expanded-row-bg !important;
    }
  }
}

@include e(row-expand-icon) {
  cursor: pointer;
  display: inline-block;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 14px;
  border: $--border-width-base $--border-style-base $--border-color-split;
  user-select: none;
  background: $--component-background;

  &:after{
    content: '+';
  }

  &.expanded:after{
    content: '-';
  }
}
