@import "common";
@import "../../themes/default";

@mixin zoom-motion($class-name, $keyframe-name) {
  @include make-motion($class-name, $keyframe-name);
  .#{$class-name}-enter{
    opacity: 0;
  }
  .#{$class-name}-enter-active,.#{$class-name}-leave-active {
    animation-timing-function: $--ease-in-out-circ;
  }
}

@include zoom-motion(zoom, antZoom);
@include zoom-motion(zoom-big, antZoomBig);
@include zoom-motion(zoom-up, antZoomUp);
@include zoom-motion(zoom-down, antZoomDown);
@include zoom-motion(zoom-left, antZoomLeft);
@include zoom-motion(zoom-right, antZoomRight);

@keyframes antZoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes antZoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes antZoomBigIn {
  0% {
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes antZoomBigOut {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@keyframes antZoomUpIn {
  0% {
    transform-origin: 50% 0%;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 0%;
    transform: scale(1);
  }
}

@keyframes antZoomUpOut {
  0% {
    transform-origin: 50% 0%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(.8);
  }
}

@keyframes antZoomLeftIn {
  0% {
    transform-origin: 0% 50%;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 50%;
    transform: scale(1);
  }
}

@keyframes antZoomLeftOut {
  0% {
    transform-origin: 0% 50%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 50%;
    transform: scale(.8);
  }
}

@keyframes antZoomRightIn {
  0% {
    transform-origin: 100% 50%;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 50%;
    transform: scale(1);
  }
}

@keyframes antZoomRightOut {
  0% {
    transform-origin: 100% 50%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(.8);
  }
}

@keyframes antZoomDownIn {
  0% {
    transform-origin: 100% 100%;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scale(1);
  }
}

@keyframes antZoomDownOut {
  0% {
    transform-origin: 100% 100%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scale(.8);
  }
}
