@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/mixins/compatibility";
@import "../../../styles/themes/default";
@import "./mixin";

$form-component-height: $--input-height-base;
$form-component-max-height: $--input-height-lg;
$form-help-margin-top: ($form-component-height - $form-component-max-height) / 2 + 2px;


@include b(form) {
  @include reset-component();
}











@include b(form-item){
  margin-bottom: $--form-item-margin-bottom;

  // layout
  @include m(layout-horizontal){
    display: table;
    @include e(label){
      display: table-cell;
    }

    @include e(control) {
      display: table-cell;
    }
  }

  @include m(layout-vertical){
    display: block;
    @include e(label){
      display: block;
      text-align: left;
      padding: $--form-vertical-label-padding;
      margin: $--form-vertical-label-margin;
      line-height: $--line-height-base;
    }

    @include e(control) {
      display: block;
    }
  }

  @include m(layout-inline){
    display: inline-table;
    vertical-align: top;
    margin-right: 16px;
    @include e(label){
      display: table-cell;
    }

    @include e(control) {
      display: table-cell;
    }
  }

  // validate state
  @include m(validating){

  }

  @include m(success){
    @include e(explain){
      color: $--success-color;
    }
  }

  @include m(error){
    @include e(explain){
      color: $--error-color;
    }
  }
}

@include e(label){
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;

  label {
    color: $--label-color;
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
  }
}

@include e(control) {
  position: relative;
  vertical-align: middle;
  line-height: $form-component-max-height;

}

@include e(children){

}

@include e(explain) {
  position: absolute;
  color: $--text-color-secondary;
  line-height: $--line-height-base;
  transition: color .3s $--ease-out; // sync input color transition
  margin-top: $form-help-margin-top;
}