@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(calendar) {
  @include reset-component();
  outline: none;
  //border-top: $--border-width-base $--border-style-base $--border-color-base;

  // card mode
  @include m(card) {
    border: $--border-style-base $--border-color-base $--border-width-base;
    border-top-left-radius: $--border-radius-base;
    border-top-right-radius: $--border-radius-base;

    @include e(header){
      border-bottom: $--border-style-base $--border-color-base $--border-width-base;
    }

    @include e(table){
      height: 256px;
    }

    @include e(cell){
      height: auto;
      width: auto;
      border-top-width: 0;
      padding: 0;
      margin: 0;

      &:hover{
        background: transparent;
      }

      &.selected, &:active{
        background: transparent;
        @include e(cell-value){
          background-color: $--primary-color;
          color: #fff;
        }
      }

      &.current{
        @include e(cell-value){
          border: $--border-width-base $--border-style-base $--primary-color;
        }
      }
    }

    @include e(cell-value){
      text-align: center;
      margin: 0 auto;
      border-radius: $--border-radius-sm;
      width: 24px;
      height: 24px;
      padding: 0;
      background: transparent;
      line-height: 24px;

      &:hover{
        background-color: $--primary-2;
      }
    }
  }
}

@include e(mode-select){
  margin-left: 8px;
  text-align: left;
  vertical-align: top; // need to specific, is a problem???
}

@include e(header){
  padding: 11px 16px 11px 0;
  text-align: right;
}

@include e(month-select){
  margin-left: 5px;
}

@include e(body){
  padding: 8px 12px;
  td {
    border: 0;
    padding: 0;
    position: relative;
  }
}

@include e(table) {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
  table-layout: fixed;
  border: 0;
  padding: 0;
}

@include e(column-header) { // weight problem
  line-height: 18px;
  padding: 0 12px 5px 0;
  width: 33px;
  text-align: right;
  border: 0;
}

@include e(column-header-inner) {
  display: block;
  font-weight: normal;
}

@include e (cell) {
  text-align: left;
  margin: 0 4px;
  display: block;
  color: $--text-color;
  height: 116px;
  padding: 4px 8px;
  border-top: 2px solid $--border-color-split;
  transition: background .3s;

  &:hover {
    background: $--item-hover-bg;
    cursor: pointer;
  }

  &:active, &.selected {
    background: $--primary-2;
  }

  &.selected {
    @include e(cell-value) {
      color: $--primary-color ;
    }
  }

  &.not-current-month-day{
    @include e(cell-value) {
      color: $--disabled-color;
    }
  }

  &.current {
    border-color: $--primary-color;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: $--disabled-bg;
    @include e(cell-value) {
      color: $--disabled-color;
    }
  }
}

@include e(cell-value) {
  text-align: right;
  background: transparent;
  width: auto;
}








