@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(badge){
  @include reset-component();
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  @include m(alone){
    margin-right: 8px;

    @include e(text){
      transform: none;
      position: relative;
      top: auto;
    }
  }
}

@include e(text) {
  position: absolute;
  transform: translateX(-50%);
  top: -$--badge-height / 2;
  height: $--badge-height;
  border-radius: $--badge-height / 2;
  min-width: $--badge-height;
  background: $--highlight-color;
  color: #fff;
  line-height: $--badge-height;
  text-align: center;
  padding: 0 6px;
  font-size: $--badge-font-size;
  font-weight: $--badge-font-weight;
  white-space: nowrap;
  transform-origin: -10% center;
  box-shadow: 0 0 0 1px #fff;
  a,
  a:hover {
    color: #fff;
  }

  @include m(dot){
    position: absolute;
    transform: translateX(-50%);
    transform-origin: 0 center;
    top: -$--badge-dot-size / 2;
    display: inline-block;
    height: $--badge-dot-size;
    width: $--badge-dot-size;
    min-width: $--badge-dot-size;
    border-radius: 100%;
    background: $--highlight-color;
    z-index: 10;
    box-shadow: 0 0 0 1px #fff;
    padding: 0;
  }
}

