@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(input){
  position: relative;
  //display: table;
  display: inline-flex; // still have some problem with button addon, will fix that later
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  @include e(control){
    @include reset-component();
    @include input();
  }
  @include e(addon){
    @include addon();
  }

  @include m(prefix){
    @include prefix();
  }

  @include m(suffix){
    @include suffix();
  }

  @include m(prepend){
    @include prepend();
  }

  @include m(append){
    @include append();
  }
}

@include b(autocomplete){
  @include reset-component();
  position: relative;
  display: inline-block;
}




