@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(input){
  @include reset-component();
  position: relative;
  display: inline-block;

  @include e(group){
    @include reset-component();
    position: relative;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }

  @include e(control){
    @include reset-component();
    @include input();
  }
  @include e(addon){
    @include addon();
  }

  @include m(prefix){
    @include prefix();
  }

  @include m(suffix){
    @include suffix();
  }

  @include m(prepend){
    @include prepend();
  }

  @include m(append){
    @include append();
  }

  @include m(separator) {
    pointer-events: none;
    z-index: 2;
    @include e(control){
      border-right: 0;
      border-left: 0;
    }
  }
}

@include b(autocomplete){
  @include reset-component();
  position: relative;
  display: inline-block;
}




