@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(select){
  @include reset-component();
  display: inline-block;
  position: relative;
  outline: 0;

  @include e(dropdown){
    @include reset-component();
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include e(popper){
    padding: 0;
    margin-top: 3px;
  }
}

@include b(select-selection) {
  @include reset-component();
  display: block;
  position: relative;
  outline: 0;
  user-select: none;
  box-sizing: border-box;
  background-color: $--component-background;
  border-radius: $--border-radius-base;
  border: $--border-width-base $--border-style-base $--border-color-base;
  transition: all .3s $--ease-in-out;
  height: $--input-height-base;
  padding-left: $--control-padding-horizontal - 1px;
  padding-right: $--control-padding-horizontal - 1px;
  line-height: $--input-height-base - 2px;
  cursor: pointer;


  &.active, &:active, &.focus, &:focus{
    @include active()
  }

  &:hover{
    @include hover()
  }

  @include e(arrow){
    position: absolute;
    top: 50%;
    right: $--control-padding-horizontal - 1px;
    line-height: 1;
    margin-top: -$--font-size-sm / 2;
    transform-origin: 50% 50%;
    color: $--disabled-color;
    font-size: $--font-size-sm;
    transition: all .3s $--ease-in-out;
  }

  @include m(open){
    @include active();
    @include e(arrow){
      transform: rotate(180deg);
    }
  }
}

@include b(option){
  @include reset-component();
  @include item();
}



