@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/reset";
@import "../../../styles/themes/default";
@import "./mixin";

@include b(select){
  @include reset-component();
  display: inline-block;
  position: relative;
  outline: 0;

  @include e(dropdown){
    @include reset-component();
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include e(popper){
    padding: 0;
    margin-top: 3px;
  }
}

@include b(select-selection) {
  @include reset-component();
  display: block;
  position: relative;
  outline: 0;
  user-select: none;
  box-sizing: border-box;
  background-color: $--component-background;
  border-radius: $--border-radius-base;
  border: $--border-width-base $--border-style-base $--border-color-base;
  transition: all .3s $--ease-in-out;
  height: $--input-height-base;
  padding-left: $--control-padding-horizontal - 1px;
  padding-right: $--control-padding-horizontal - 1px;
  line-height: $--input-height-base - 2px;
  cursor: pointer;


  &.active, &:active, &.focus, &:focus{
    @include active()
  }

  &:hover{
    @include hover()
  }

  @include when(disabled) {
    @include disabled();
  }

  @include e(placeholder){
    @include e-placeholder();
  }

  @include e-value();

  @include e-input();

  @include e(arrow){
    @include suffix();
  }

  @include e(close){
    @include suffix();
    &:hover{
      color: $--text-color-secondary;
    }
  }

  @include m(open){
    @include active();
    @include e(arrow){
      transform: rotate(180deg);
    }
  }

  @include m(lg){
    height: $--input-height-lg;
    line-height: $--input-height-lg - 2px;
  }

  @include m(sm){
    height: $--input-height-sm;
    padding-left: $--control-padding-horizontal-sm - 1px;
    padding-right: $--control-padding-horizontal-sm - 1px;
    line-height: $--input-height-sm - 2px;
  }

  @include m(multiple){
    height: auto;
    min-height: $--input-height-base;
  }
}

@include b(option){
  @include reset-component();
  @include item();
}

@include b (option-group){
  @include reset-component();

  @include e(list) {
    @include reset-component();
    @include b(option){
      padding-left: 20px;
    }
    @include b(option-group){} // restore it
  }

  @include e(title){
    color: $--text-color-secondary;
    padding: 0 $--control-padding-horizontal;
    height: 32px;
    line-height: 32px;
    font-size: $--font-size-sm;
  }
}



