@import "../../../styles/themes/default";
@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/colorPalette";
@import "../../../styles/mixins/size";
@import "../../../styles/mixins/compatibility";


@mixin active($color: $--outline-color){
  border-color: colorPalette($color, 5);
  outline: 0;
  box-shadow: $--input-outline-offset $--outline-blur-size $--outline-width rgba($color, .25);
  z-index: 1;
}

@mixin hover($color: $--input-hover-border-color){
  border-color: colorPalette($color, 5);
}

@mixin disabled () {
  background-color: $--input-disabled-bg;
  opacity: 1;
  cursor: not-allowed;
  color: $--disabled-color;
  &:hover {
    @include hover($--input-border-color);
  }
}

@mixin item(){
  padding: 5px $--control-padding-horizontal;
  margin: 0;
  font-size: $--font-size-base;
  font-weight: normal;
  color: $--text-color;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  line-height: $--line-height-base;

  &:hover {
    background-color: $--item-hover-bg;
  }

  @include when(selected) {
    background-color: $--item-hover-bg;
  }

  @include when(disabled) {
    &{
      color: $--disabled-color;
      cursor: not-allowed;
    }

    &:hover{
      color: $--disabled-color;
      background-color: $--component-background;
      cursor: not-allowed;
    }
  }
}

@mixin e-placeholder() {
  position: absolute;
  top: 50%;
  left: $--control-padding-horizontal;
  right: 9px;
  color: $--input-placeholder-color;
  line-height: 20px;
  height: 20px;
  max-width: 100%;
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

@mixin suffix() {
  position: absolute;
  top: 50%;
  right: $--control-padding-horizontal - 1px;
  line-height: 1;
  margin-top: -$--font-size-sm / 2;
  transform-origin: 50% 50%;
  color: $--disabled-color;
  font-size: $--font-size-sm;
  transition: all .3s $--ease-in-out;
}

@mixin e-value () {
  @include e(value){
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-right: 20px;
  }
  @include m(multiple) {
    @include e(value){
      white-space: normal;
      >input{
        width: .75em;
        max-width: 100%;
        border-width: 0;
        font-size: 100%;
        height: 100%;
        opacity: 0;
        outline: 0;
        border-radius: $--border-radius-base;
        line-height: 1;

        &:focus, &:active{
          opacity: 1;
        }
      }
    }
  }
}

@mixin e-input () {
  @include e(input){
    position: absolute;
    height: 100%;
    //width: 100%;
    left: $--control-padding-horizontal;
    right: $--control-padding-horizontal + 8px;
    >input{
      @include placeholder();
      border-width: 0;
      font-size: 100%;
      height: 100%;
      //width: calc(100% - 2 * #{$--control-padding-horizontal} - 8px);
      width: 100%;
      opacity: 0;
      outline: 0;
      border-radius: $--border-radius-base;
      line-height: 1;

      &:focus, &:active{
        opacity: 1;
      }
    }
  }
}