@import "../../../styles/themes/default";
@import "../../../styles/mixins/bem";
@import "../../../styles/mixins/colorPalette";
@import "../../../styles/mixins/size";
@import "../../../styles/mixins/compatibility";


@mixin active($color: $--outline-color){
  border-color: colorPalette($color, 5);
  outline: 0;
  box-shadow: $--input-outline-offset $--outline-blur-size $--outline-width rgba($color, .25);
  z-index: 1;
}

@mixin hover($color: $--input-hover-border-color){
  border-color: colorPalette($color, 5);
}

@mixin disabled () {
  background-color: $--input-disabled-bg;
  opacity: 1;
  cursor: not-allowed;
  color: $--disabled-color;
  &:hover {
    @include hover($--input-border-color);
  }
}

@mixin item(){
  padding: 5px $--control-padding-horizontal;
  margin: 0;
  font-size: $--font-size-base;
  font-weight: normal;
  color: $--text-color;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  line-height: $--line-height-base;

  &:hover {
    background-color: $--item-hover-bg;
  }

  @include when(selected) {
    background-color: $--item-hover-bg;
  }

  @include when(disabled) {
    &{
      color: $--disabled-color;
      cursor: not-allowed;
    }

    &:hover{
      color: $--disabled-color;
      background-color: $--component-background;
      cursor: not-allowed;
    }
  }
}